## 공공데이터 전처리

In [ ]:
# 라이브러리 호출
import pandas as pd

In [ ]:
import pandas as pd

## 대전광역시_숙박업소##
df1 = pd.read_csv('./data/대전광역시_숙박업소_20201201.csv', encoding='cp949')
df1 = df1[['업체명', '주소', '전화번호']]

df1.head()

            업체명                                 주소          전화번호
0          럭키호텔        대전광역시 중구 당디로 112 럭키호텔 (유천동)  042-583-9481
1  토요코인 대전정부청사앞        대전광역시 서구 둔산중로134번길 13 (둔산동)  042-545-1045
2        호텔 스탕달          대전광역시 유성구 온천북로14, 3층~13층   042-822-1345
3      레지던스호텔힐링  대전광역시 서구 둔산로51번길 76, 2층~12층 (둔산동)  042-485-0161
4      호텔그레이톤둔산    대전광역시 서구 둔산중로 70, 3층~15층 (둔산동)   042-483-3100

In [ ]:
# 데이터 개수 확인
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     133 non-null    object
 1   주소      133 non-null    object
 2   전화번호    133 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

In [ ]:
## 대전광역시 대덕구 숙박정보##
df2 = pd.read_csv('./data/대전광역시 대덕구_숙박정보_20240813.csv', encoding='cp949')
df2 = df2.rename(columns={
    '업소명': '업체명',
    '영업소 주소(도로명)': '주소',
    '소재지전화': '전화번호'
})

df2 = df2[['업체명', '주소','전화번호']]
df2.head()

     업체명                             주소          전화번호
0    별모텔  대전광역시 대덕구 동서대로1748번길 11 (비래동)  042-672-0789
1   장수여관        대전광역시 대덕구 우암로 441 (비래동)  042-622-8884
2   금호여관       대전광역시 대덕구 대전로 1139 (오정동)  042-632-9255
3    큐모텔     대전광역시 대덕구 오정로76번길 77 (오정동)  042-622-7799
4  금강장여관  대전광역시 대덕구 신탄진로810번길 15 (신탄진동)  042-932-6262

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     83 non-null     object
 1   주소      83 non-null     object
 2   전화번호    83 non-null     object
dtypes: object(3)
memory usage: 2.1+ KB

In [6]:
## 대전광역시 서구 숙박업##
df3 = pd.read_csv('./data/대전광역시 서구_숙박업 현황_20231205.csv', encoding='cp949')
df3 = df3.rename(columns={
    '업소명': '업체명',
    '영업소 주소(도로명)': '주소',
    '소재지전화': '전화번호'
})

df3 = df3[['업체명', '주소','전화번호']]
df3.head()

     업체명                             주소          전화번호
0   무명여관      대전광역시 서구 계룡로620번길 7 (용문동)  042-523-9401
1  신온장여관          대전광역시 서구 도산로 216 (변동)  042-523-1388
2   청수파크  대전광역시 서구 계룡로636번길 14-27 (용문동)  042-535-5022
3  백운장여관         대전광역시 서구 가장로 128 (가장동)  042-533-4321
4   용문파크         대전광역시 서구 도산로 378 (용문동)  042-536-5222

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     70 non-null     object
 1   주소      70 non-null     object
 2   전화번호    64 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

In [15]:
# 전화번호 열에서 결측값이 있는 행을 제거
df3 = df3.dropna(subset=['전화번호'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 66
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     64 non-null     object
 1   주소      64 non-null     object
 2   전화번호    64 non-null     object
dtypes: object(3)
memory usage: 2.0+ KB

In [7]:
## 대전광역시 중구 숙박업소##
df4 = pd.read_csv('./data/대전광역시 중구 숙박업소 정보_20240705.csv', encoding='cp949')
df4 = df4.rename(columns={
    '업소명': '업체명',
    '영업소 주소(도로명)': '주소',
    '소재지전화': '전화번호'
})

df4 = df4[['업체명', '주소','전화번호']]
df4.head()

      업체명                           주소          전화번호
0  첼로파크여관       대전광역시 중구 목척7길 30 (은행동)  042-226-6226
1   한성여인숙  대전광역시 중구 동서대로1327번길 1 (용두동)  042-257-7562
2    화성모텔     대전광역시 중구 충무로 160-1 (문창동)  042-271-7198
3  남도 여인숙     대전광역시 중구 오류로 19-11 (오류동)  042-523-8923
4     영일장       대전광역시 중구 목척1길 11 (은행동)  042-252-3232

In [10]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     162 non-null    object
 1   주소      162 non-null    object
 2   전화번호    141 non-null    object
dtypes: object(3)
memory usage: 3.9+ KB

In [16]:
df4 = df4.dropna(subset=['전화번호'])
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 161
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     141 non-null    object
 1   주소      141 non-null    object
 2   전화번호    141 non-null    object
dtypes: object(3)
memory usage: 4.4+ KB

In [19]:
# 데이터프레임 하나로 합치기
df_combined = pd.concat([df1, df2, df3, df4], ignore_index=True)
df_combined.head()

df_combined.to_csv('./preprocessing_data/combined_public_data.csv', index=False, encoding='cp949')

In [18]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     421 non-null    object
 1   주소      421 non-null    object
 2   전화번호    421 non-null    object
dtypes: object(3)
memory usage: 10.0+ KB