## 야놀자 데이터 전처리

숙소 일정을 기준으로 이미 예약이 다 찬 링크에서는 가격을 가져오지 못하였기에 가격 N/A를 수동으로 채워넣을 것이다.

In [3]:
import pandas as pd
import os

In [ ]:
# 리뷰 폴더 경로 설정
input_dir = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review'
na_indices = []

# 0부터 109까지의 파일을 대상으로 N/A 값 확인
for index in range(110):  # 0부터 109까지
    file_path = os.path.join(input_dir, f'yanolja_data_{index}.csv')
    if os.path.exists(file_path):
        try:
            df = pd.read_csv(file_path, encoding='utf-8')
            
            # N/A 값 확인 (문자열 'N/A')
            if (df == 'N/A').any().any():
                na_indices.append(index)
                
            # NaN 값 확인 (결측치)
            elif df.isna().any().any():
                na_indices.append(index)

        except Exception as e:
            print(f"Error reading file {file_path}: {e}")
    else:
        print(f"File not found: {file_path}")

# 결과 출력
print(f"Files with 'N/A' or NaN values: {na_indices}")

Files with 'N/A' or NaN values: [2, 12, 30, 32, 36, 38, 57, 74, 101]

## 1. 결측치 확인

In [ ]:
# 결측지 확인을 위한 코드
"""[2, 12, 30, 32, 36, 38, 57, 74, 101]"""

file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_2.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info() 
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    100 non-null    object
 1   star     100 non-null    int64
 2   review   100 non-null    object
 3   date     100 non-null    object
 4   price    0 non-null      float64
 5   address  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_12.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    19 non-null     object
 1   star     19 non-null     int64
 2   review   19 non-null     object
 3   date     19 non-null     object
 4   price    19 non-null     object
 5   address  19 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.0+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_30.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    440 non-null    object
 1   star     440 non-null    int64
 2   review   440 non-null    object
 3   date     440 non-null    object
 4   price    440 non-null    object
 5   address  440 non-null    object
dtypes: int64(1), object(5)
memory usage: 20.8+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_32.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    182 non-null    object
 1   star     182 non-null    int64
 2   review   182 non-null    object
 3   date     182 non-null    object
 4   price    0 non-null      float64
 5   address  182 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.7+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_36.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    20 non-null     object
 1   star     20 non-null     int64
 2   review   20 non-null     object
 3   date     20 non-null     object
 4   price    0 non-null      float64
 5   address  20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_38.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3 non-null      object
 1   star     3 non-null      int64
 2   review   3 non-null      object
 3   date     3 non-null      object
 4   price    0 non-null      float64
 5   address  3 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 276.0+ bytes

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_57.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3468 entries, 0 to 3467
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3468 non-null   object
 1   star     3468 non-null   int64
 2   review   3468 non-null   object
 3   date     3468 non-null   object
 4   price    0 non-null      float64
 5   address  3468 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 162.7+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_74.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015 entries, 0 to 3014
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3015 non-null   object
 1   star     3015 non-null   int64
 2   review   3013 non-null   object
 3   date     3015 non-null   object
 4   price    3015 non-null   object
 5   address  3015 non-null   object
dtypes: int64(1), object(5)
memory usage: 141.5+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_101.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        df.info()
    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    4020 non-null   object
 1   star     4020 non-null   int64
 2   review   4019 non-null   object
 3   date     4020 non-null   object
 4   price    4020 non-null   object
 5   address  4020 non-null   object
dtypes: int64(1), object(5)
memory usage: 188.6+ KB

## 2. 결측치 대체하기

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_2.csv'

if os.path.exists(file_path):
    
    df = pd.read_csv(file_path, encoding='utf-8')
        
    # 'price' 열의 NaN 값을 '180,000'으로 변경
    df['price'] = df['price'].fillna('180,000')
        
    # 변경된 데이터 저장 (원본 파일을 덮어쓰거나 새 파일로 저장할 수 있습니다)
    df.to_csv(file_path, index=False, encoding='utf-8')
    
# 변경된 데이터 확인
df.head()

,hotel,star,review,date,price,address
0,대전 유성 은하수디앤엠(D&M),5,숙소 볼때 교통이랑 깨끗한지가 제일 중요한데 두개 다 만족 스러웠어요! 지하철역이랑...,2024.01.05,"180,000",대전광역시 유성구 계룡로141번길 13-5
1,대전 유성 은하수디앤엠(D&M),5,연말파티로 친구들과 \n방문을 했는데 정말 너무 너무 편하게 \n잘 쉬다 갑니다!\...,2024.01.05,"180,000",대전광역시 유성구 계룡로141번길 13-5
2,대전 유성 은하수디앤엠(D&M),5,친구들과 티비보면서 밥도먹고 연말 파티하려고 예약했어요 ! 화장실 두개에 방도 세갠...,2023.12.29,"180,000",대전광역시 유성구 계룡로141번길 13-5
3,대전 유성 은하수디앤엠(D&M),5,♥️ 숙박계기\n; 동생이 논산으로 입대를 하게 되어 원래는 유성온천에서 하루 숙박...,2024.04.23,"180,000",대전광역시 유성구 계룡로141번길 13-5
4,대전 유성 은하수디앤엠(D&M),5,생각보다 숙소가 작았지만 깨끗해서 좋았어요\n예약 인원보다 수저세트가 부족해서 아쉬...,4일 전,"180,000",대전광역시 유성구 계룡로141번길 13-5

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_74.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        print("Original DataFrame:")
        df.info()

        df_cleaned = df.dropna(subset=['review'])

        print("\nCleaned DataFrame:")
        df_cleaned.info()

        cleaned_file_path = './review/yanolja_data_74.csv'
        df_cleaned.to_csv(cleaned_file_path, index=False, encoding='utf-8')
        print(f"\nCleaned Data saved to {cleaned_file_path}")

    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

Original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015 entries, 0 to 3014
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3015 non-null   object
 1   star     3015 non-null   int64
 2   review   3013 non-null   object
 3   date     3015 non-null   object
 4   price    3015 non-null   object
 5   address  3015 non-null   object
dtypes: int64(1), object(5)
memory usage: 141.5+ KB

Cleaned DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3014
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3013 non-null   object
 1   star     3013 non-null   int64
 2   review   3013 non-null   object
 3   date     3013 non-null   object
 4   price    3013 non-null   object
 5   address  3013 non-null   object
dtypes: int64(1), object(5)
memory usage: 164.8+ KB

Cleaned Data saved to ./review/yanolja_data_74.csv

In [37]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3013 entries, 0 to 3014
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    3013 non-null   object
 1   star     3013 non-null   int64
 2   review   3013 non-null   object
 3   date     3013 non-null   object
 4   price    3013 non-null   object
 5   address  3013 non-null   object
dtypes: int64(1), object(5)
memory usage: 164.8+ KB

In [ ]:
file_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review/yanolja_data_101.csv'

if os.path.exists(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        print("Original DataFrame:")
        df.info()

        df_cleaned = df.dropna(subset=['review'])

        print("\nCleaned DataFrame:")
        df_cleaned.info()

        cleaned_file_path = './review/yanolja_data_101.csv'
        df_cleaned.to_csv(cleaned_file_path, index=False, encoding='utf-8')
        print(f"\nCleaned Data saved to {cleaned_file_path}")

    except Exception as e:
        print(f"Error reading file {file_path}: {e}")
else:
    print("File not found.")

Original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    4020 non-null   object
 1   star     4020 non-null   int64
 2   review   4019 non-null   object
 3   date     4020 non-null   object
 4   price    4020 non-null   object
 5   address  4020 non-null   object
dtypes: int64(1), object(5)
memory usage: 188.6+ KB

Cleaned DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 4019 entries, 0 to 4019
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    4019 non-null   object
 1   star     4019 non-null   int64
 2   review   4019 non-null   object
 3   date     4019 non-null   object
 4   price    4019 non-null   object
 5   address  4019 non-null   object
dtypes: int64(1), object(5)
memory usage: 219.8+ KB

Cleaned Data saved to ./review/yanolja_data_101.csv

## 3. data 날짜 전처리

In [39]:
import datetime
from datetime import timedelta

In [40]:
def change_date(x):
    now = datetime.datetime.today()
    today = now.strftime("%Y. %m. %d")
    yesterday = (now - timedelta(days=1)).strftime("%Y. %m. %d")
    _2days_ago = (now - timedelta(days = 2)).strftime("%Y. %m. %d")
    _3days_ago = (now - timedelta(days = 3)).strftime("%Y. %m. %d")
    hour = int(datetime.datetime.today().strftime("%H"))
    if "시간 전" in x:
        x = int(x.replace("시간 전", ""))
        if hour - x > 0: return today
        else: return yesterday
    elif "일 전" in x:
        if "1" in x: return yesterday
        elif "2" in x: return _2days_ago
        else: return _3days_ago
    else: return x

In [ ]:
directory = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review'

for i in range(110):
    file_path = os.path.join(directory, f'yanolja_data_{i}.csv')
    if os.path.exists(file_path):
        try:
            df = pd.read_csv(file_path, encoding='utf-8')

            df['date'] = df['date'].apply(change_date)


            df.to_csv(file_path, index=False, encoding='utf-8')
            print(f"Updated data saved to {file_path}")
        except Exception as e:
            print(f"Error processing file {file_path}: {e}")
    else:
        print(f"File not found: {file_path}")

Updated data saved to ./review\yanolja_data_0.csv
Updated data saved to ./review\yanolja_data_1.csv
Updated data saved to ./review\yanolja_data_2.csv
Updated data saved to ./review\yanolja_data_3.csv
Updated data saved to ./review\yanolja_data_4.csv
Updated data saved to ./review\yanolja_data_5.csv
Updated data saved to ./review\yanolja_data_6.csv
Updated data saved to ./review\yanolja_data_7.csv
Updated data saved to ./review\yanolja_data_8.csv
Updated data saved to ./review\yanolja_data_9.csv
Updated data saved to ./review\yanolja_data_10.csv
Updated data saved to ./review\yanolja_data_11.csv
Updated data saved to ./review\yanolja_data_12.csv
Updated data saved to ./review\yanolja_data_13.csv
Updated data saved to ./review\yanolja_data_14.csv
Updated data saved to ./review\yanolja_data_15.csv
Updated data saved to ./review\yanolja_data_16.csv
Updated data saved to ./review\yanolja_data_17.csv
Updated data saved to ./review\yanolja_data_18.csv
Updated data saved to ./review\yanolja_data_19.csv
Updated data saved to ./review\yanolja_data_20.csv
Updated data saved to ./review\yanolja_data_21.csv
Updated data saved to ./review\yanolja_data_22.csv
Updated data saved to ./review\yanolja_data_23.csv
Updated data saved to ./review\yanolja_data_24.csv
Updated data saved to ./review\yanolja_data_25.csv
Updated data saved to ./review\yanolja_data_26.csv
Updated data saved to ./review\yanolja_data_27.csv
Updated data saved to ./review\yanolja_data_28.csv
Updated data saved to ./review\yanolja_data_29.csv
Updated data saved to ./review\yanolja_data_30.csv
Updated data saved to ./review\yanolja_data_31.csv
Updated data saved to ./review\yanolja_data_32.csv
Updated data saved to ./review\yanolja_data_33.csv
Updated data saved to ./review\yanolja_data_34.csv
Updated data saved to ./review\yanolja_data_35.csv
Updated data saved to ./review\yanolja_data_36.csv
Updated data saved to ./review\yanolja_data_37.csv
Updated data saved to ./review\yanolja_data_38.csv
Updated data saved to ./review\yanolja_data_39.csv
Updated data saved to ./review\yanolja_data_40.csv
Updated data saved to ./review\yanolja_data_41.csv
Updated data saved to ./review\yanolja_data_42.csv
Updated data saved to ./review\yanolja_data_43.csv
Updated data saved to ./review\yanolja_data_44.csv
Updated data saved to ./review\yanolja_data_45.csv
Updated data saved to ./review\yanolja_data_46.csv
Updated data saved to ./review\yanolja_data_47.csv
Updated data saved to ./review\yanolja_data_48.csv
Updated data saved to ./review\yanolja_data_49.csv
Updated data saved to ./review\yanolja_data_50.csv
Updated data saved to ./review\yanolja_data_51.csv
Updated data saved to ./review\yanolja_data_52.csv
Updated data saved to ./review\yanolja_data_53.csv
Updated data saved to ./review\yanolja_data_54.csv
Updated data saved to ./review\yanolja_data_55.csv
Updated data saved to ./review\yanolja_data_56.csv
Updated data saved to ./review\yanolja_data_57.csv
Updated data saved to ./review\yanolja_data_58.csv
Updated data saved to ./review\yanolja_data_59.csv
Updated data saved to ./review\yanolja_data_60.csv
Updated data saved to ./review\yanolja_data_61.csv
Updated data saved to ./review\yanolja_data_62.csv
Updated data saved to ./review\yanolja_data_63.csv
Updated data saved to ./review\yanolja_data_64.csv
Updated data saved to ./review\yanolja_data_65.csv
Updated data saved to ./review\yanolja_data_66.csv
Updated data saved to ./review\yanolja_data_67.csv
Updated data saved to ./review\yanolja_data_68.csv
Updated data saved to ./review\yanolja_data_69.csv
Updated data saved to ./review\yanolja_data_70.csv
Updated data saved to ./review\yanolja_data_71.csv
Updated data saved to ./review\yanolja_data_72.csv
Updated data saved to ./review\yanolja_data_73.csv
Updated data saved to ./review\yanolja_data_74.csv
Updated data saved to ./review\yanolja_data_75.csv
Updated data saved to ./review\yanolja_data_76.csv
Updated data saved to ./review\yanolja_data_77.csv
Updated data saved to ./review\yanolja_data_78.csv
Updated data saved to ./review\yanolja_data_79.csv
Updated data saved to ./review\yanolja_data_80.csv
Updated data saved to ./review\yanolja_data_81.csv
Updated data saved to ./review\yanolja_data_82.csv
Updated data saved to ./review\yanolja_data_83.csv
Updated data saved to ./review\yanolja_data_84.csv
Updated data saved to ./review\yanolja_data_85.csv
Updated data saved to ./review\yanolja_data_86.csv
Updated data saved to ./review\yanolja_data_87.csv
Updated data saved to ./review\yanolja_data_88.csv
Updated data saved to ./review\yanolja_data_89.csv
Updated data saved to ./review\yanolja_data_90.csv
Updated data saved to ./review\yanolja_data_91.csv
Updated data saved to ./review\yanolja_data_92.csv
Updated data saved to ./review\yanolja_data_93.csv
Updated data saved to ./review\yanolja_data_94.csv
Updated data saved to ./review\yanolja_data_95.csv
Updated data saved to ./review\yanolja_data_96.csv
Updated data saved to ./review\yanolja_data_97.csv
Updated data saved to ./review\yanolja_data_98.csv
Updated data saved to ./review\yanolja_data_99.csv
Updated data saved to ./review\yanolja_data_100.csv
Updated data saved to ./review\yanolja_data_101.csv
Updated data saved to ./review\yanolja_data_102.csv
Updated data saved to ./review\yanolja_data_103.csv
Updated data saved to ./review\yanolja_data_104.csv
Updated data saved to ./review\yanolja_data_105.csv
Updated data saved to ./review\yanolja_data_106.csv
Updated data saved to ./review\yanolja_data_107.csv
Updated data saved to ./review\yanolja_data_108.csv
Updated data saved to ./review\yanolja_data_109.csv

## 4. 데이터 하나로 합치기

In [ ]:
directory = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/review'
combined_df = pd.DataFrame()

for i in range(110):
    file_path = os.path.join(directory, f'yanolja_data_{i}.csv')
    if os.path.exists(file_path):
        try:
            df = pd.read_csv(file_path, encoding='utf-8')
            combined_df = pd.concat([combined_df, df], ignore_index=True)
            print(f"Successfully added data from {file_path}")
        except Exception as e:
            print(f"Error reading file {file_path}: {e}")
    else:
        print(f"File not found: {file_path}")

if not combined_df.empty:
    output_path = './combined_yanolja_data.csv'
    combined_df.to_csv(output_path, index=False, encoding='utf-8')
    print(f"Combined data saved to {output_path}")
else:
    print("No data to combine.")

Successfully added data from ./review\yanolja_data_0.csv
Successfully added data from ./review\yanolja_data_1.csv
Successfully added data from ./review\yanolja_data_2.csv
Successfully added data from ./review\yanolja_data_3.csv
Successfully added data from ./review\yanolja_data_4.csv
Successfully added data from ./review\yanolja_data_5.csv
Successfully added data from ./review\yanolja_data_6.csv
Successfully added data from ./review\yanolja_data_7.csv
Successfully added data from ./review\yanolja_data_8.csv
Successfully added data from ./review\yanolja_data_9.csv
Successfully added data from ./review\yanolja_data_10.csv
Successfully added data from ./review\yanolja_data_11.csv
Successfully added data from ./review\yanolja_data_12.csv
Successfully added data from ./review\yanolja_data_13.csv
Successfully added data from ./review\yanolja_data_14.csv
Successfully added data from ./review\yanolja_data_15.csv
Successfully added data from ./review\yanolja_data_16.csv
Successfully added data from ./review\yanolja_data_17.csv
Successfully added data from ./review\yanolja_data_18.csv
Successfully added data from ./review\yanolja_data_19.csv
Successfully added data from ./review\yanolja_data_20.csv
Successfully added data from ./review\yanolja_data_21.csv
Successfully added data from ./review\yanolja_data_22.csv
Successfully added data from ./review\yanolja_data_23.csv
Successfully added data from ./review\yanolja_data_24.csv
Successfully added data from ./review\yanolja_data_25.csv
Successfully added data from ./review\yanolja_data_26.csv
Successfully added data from ./review\yanolja_data_27.csv
Successfully added data from ./review\yanolja_data_28.csv
Successfully added data from ./review\yanolja_data_29.csv
Successfully added data from ./review\yanolja_data_30.csv
Successfully added data from ./review\yanolja_data_31.csv
Successfully added data from ./review\yanolja_data_32.csv
Successfully added data from ./review\yanolja_data_33.csv
Successfully added data from ./review\yanolja_data_34.csv
Successfully added data from ./review\yanolja_data_35.csv
Successfully added data from ./review\yanolja_data_36.csv
Successfully added data from ./review\yanolja_data_37.csv
Successfully added data from ./review\yanolja_data_38.csv
Successfully added data from ./review\yanolja_data_39.csv
Successfully added data from ./review\yanolja_data_40.csv
Successfully added data from ./review\yanolja_data_41.csv
Successfully added data from ./review\yanolja_data_42.csv
Successfully added data from ./review\yanolja_data_43.csv
Successfully added data from ./review\yanolja_data_44.csv
Successfully added data from ./review\yanolja_data_45.csv
Successfully added data from ./review\yanolja_data_46.csv
Successfully added data from ./review\yanolja_data_47.csv
Successfully added data from ./review\yanolja_data_48.csv
Successfully added data from ./review\yanolja_data_49.csv
Successfully added data from ./review\yanolja_data_50.csv
Successfully added data from ./review\yanolja_data_51.csv
Successfully added data from ./review\yanolja_data_52.csv
Successfully added data from ./review\yanolja_data_53.csv
Successfully added data from ./review\yanolja_data_54.csv
Successfully added data from ./review\yanolja_data_55.csv
Successfully added data from ./review\yanolja_data_56.csv
Successfully added data from ./review\yanolja_data_57.csv
Successfully added data from ./review\yanolja_data_58.csv
Successfully added data from ./review\yanolja_data_59.csv
Successfully added data from ./review\yanolja_data_60.csv
Successfully added data from ./review\yanolja_data_61.csv
Successfully added data from ./review\yanolja_data_62.csv
Successfully added data from ./review\yanolja_data_63.csv
Successfully added data from ./review\yanolja_data_64.csv
Successfully added data from ./review\yanolja_data_65.csv
Successfully added data from ./review\yanolja_data_66.csv
Successfully added data from ./review\yanolja_data_67.csv
Successfully added data from ./review\yanolja_data_68.csv
Successfully added data from ./review\yanolja_data_69.csv
Successfully added data from ./review\yanolja_data_70.csv
Successfully added data from ./review\yanolja_data_71.csv
Successfully added data from ./review\yanolja_data_72.csv
Successfully added data from ./review\yanolja_data_73.csv
Successfully added data from ./review\yanolja_data_74.csv
Successfully added data from ./review\yanolja_data_75.csv
Successfully added data from ./review\yanolja_data_76.csv
Successfully added data from ./review\yanolja_data_77.csv
Successfully added data from ./review\yanolja_data_78.csv
Successfully added data from ./review\yanolja_data_79.csv
Successfully added data from ./review\yanolja_data_80.csv
Successfully added data from ./review\yanolja_data_81.csv
Successfully added data from ./review\yanolja_data_82.csv
Successfully added data from ./review\yanolja_data_83.csv
Successfully added data from ./review\yanolja_data_84.csv
Successfully added data from ./review\yanolja_data_85.csv
Successfully added data from ./review\yanolja_data_86.csv
Successfully added data from ./review\yanolja_data_87.csv
Successfully added data from ./review\yanolja_data_88.csv
Successfully added data from ./review\yanolja_data_89.csv
Successfully added data from ./review\yanolja_data_90.csv
Successfully added data from ./review\yanolja_data_91.csv
Successfully added data from ./review\yanolja_data_92.csv
Successfully added data from ./review\yanolja_data_93.csv
Successfully added data from ./review\yanolja_data_94.csv
Successfully added data from ./review\yanolja_data_95.csv
Successfully added data from ./review\yanolja_data_96.csv
Successfully added data from ./review\yanolja_data_97.csv
Successfully added data from ./review\yanolja_data_98.csv
Successfully added data from ./review\yanolja_data_99.csv
Successfully added data from ./review\yanolja_data_100.csv
Successfully added data from ./review\yanolja_data_101.csv
Successfully added data from ./review\yanolja_data_102.csv
Successfully added data from ./review\yanolja_data_103.csv
Successfully added data from ./review\yanolja_data_104.csv
Successfully added data from ./review\yanolja_data_105.csv
Successfully added data from ./review\yanolja_data_106.csv
Successfully added data from ./review\yanolja_data_107.csv
Successfully added data from ./review\yanolja_data_108.csv
Successfully added data from ./review\yanolja_data_109.csv
Combined data saved to ./combined_yanolja_data.csv

In [ ]:
# CSV 파일 경로
output_path = 'C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/combined_yanolja_data.csv'

# CSV 파일을 DataFrame으로 불러오기
df = pd.read_csv(output_path, encoding='utf-8')

# DataFrame 정보 출력
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123684 entries, 0 to 123683
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   hotel    123684 non-null  object
 1   star     123684 non-null  int64
 2   review   123684 non-null  object
 3   date     123684 non-null  object
 4   price    123684 non-null  object
 5   address  123684 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.7+ MB

In [5]:
df.head()

,hotel,star,review,date,price,address
0,베니키아 테크노밸리호텔,5,좋았어요!! 정말 생각 이상으로 좋았어요!!!분위기좋고 방배정도 2개 예약했는데 센...,2024.02.13,"95,000",대전광역시 유성구 테크노중앙로 57
1,베니키아 테크노밸리호텔,5,아이들이 방학이라 제가 근무하는 대전에 놀러왔는데 제가 머물고 있는 숙소가 너무 덥...,2024.08.17,"95,000",대전광역시 유성구 테크노중앙로 57
2,베니키아 테크노밸리호텔,5,정말 괜찮았어요!!! 분위기도 좋고 침대도 좋고 직원분도 친절해요!! 엘베도 빨라서...,2024.02.13,"95,000",대전광역시 유성구 테크노중앙로 57
3,베니키아 테크노밸리호텔,5,저렴한 가격에 굉장히 편하게 묵고 가요! 직원분들도 굉장히 친절하십니다ㅎㅎ 게다가 ...,2024.05.26,"95,000",대전광역시 유성구 테크노중앙로 57
4,베니키아 테크노밸리호텔,5,"매번 청결, 친절 등 전체적으로 만족스러운 호텔이예요 조식도 심플하지만 알찬 구성이...",2024.11.01,"95,000",대전광역시 유성구 테크노중앙로 57

유성구, 서구, 대덕구, 중구, 동구로 구 나누기

In [6]:
import numpy as np

# 구 이름을 추출하는 함수 정의
def extract_district(address):
    if "유성구" in address:
        return "유성구"
    elif "동구" in address:
        return "동구"
    elif "서구" in address:
        return "서구"
    elif "중구" in address:
        return "중구"
    elif "대덕구" in address:
        return "대덕구"
    else:
        return np.nan  # null 값을 나타내기 위해 NaN 사용

# DataFrame df에 새로운 열 'district' 추가
df['district'] = df['address'].apply(extract_district)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123684 entries, 0 to 123683
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   hotel     123684 non-null  object
 1   star      123684 non-null  int64
 2   review    123684 non-null  object
 3   date      123684 non-null  object
 4   price     123684 non-null  object
 5   address   123684 non-null  object
 6   district  123684 non-null  object
dtypes: int64(1), object(6)
memory usage: 6.6+ MB

In [8]:
df.head()

,hotel,star,review,date,price,address,district
0,베니키아 테크노밸리호텔,5,좋았어요!! 정말 생각 이상으로 좋았어요!!!분위기좋고 방배정도 2개 예약했는데 센...,2024.02.13,"95,000",대전광역시 유성구 테크노중앙로 57,유성구
1,베니키아 테크노밸리호텔,5,아이들이 방학이라 제가 근무하는 대전에 놀러왔는데 제가 머물고 있는 숙소가 너무 덥...,2024.08.17,"95,000",대전광역시 유성구 테크노중앙로 57,유성구
2,베니키아 테크노밸리호텔,5,정말 괜찮았어요!!! 분위기도 좋고 침대도 좋고 직원분도 친절해요!! 엘베도 빨라서...,2024.02.13,"95,000",대전광역시 유성구 테크노중앙로 57,유성구
3,베니키아 테크노밸리호텔,5,저렴한 가격에 굉장히 편하게 묵고 가요! 직원분들도 굉장히 친절하십니다ㅎㅎ 게다가 ...,2024.05.26,"95,000",대전광역시 유성구 테크노중앙로 57,유성구
4,베니키아 테크노밸리호텔,5,"매번 청결, 친절 등 전체적으로 만족스러운 호텔이예요 조식도 심플하지만 알찬 구성이...",2024.11.01,"95,000",대전광역시 유성구 테크노중앙로 57,유성구

In [9]:
df['district'].value_counts()

district
유성구    81371
서구     27588
동구     10384
중구      2720
대덕구     1621
Name: count, dtype: int64

In [ ]:
df.to_csv('C:/Users/yeonj/OneDrive/바탕 화면/data_crawling/preprocessing_data/combined_yanolja_data.csv', index=False, encoding='utf-8')